<h1>Recent Work</h1>
<br></br>

<%= image_tag "apartment_lawn.jpg" %>
<%= image_tag "home_page.jpg" %>
<%= image_tag "landscaping_2.jpg" %>
<%= image_tag "landscaping_3.jpg" %>
<%= image_tag "recent_work_1.jpg" %>
<%= image_tag "recent_work_2.jpg" %>
<p>Find me in app/views/pages/portfolio.html.erb</p>
