<h1>Wellspring Services:</h1>


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui.</p>
<br></br>

<h3>Lawn</h3>
<%= image_tag "lawn.jpg"%>
<h3>Tree Work</h3>
<%= image_tag "tree_pic.jpg"%>
<h3>Landscaping</h3>
<%= image_tag "landscaping.jpg"%>
<h3>Leaf Removal</h3>
<%= image_tag "leaf_removal_3.jpg"%>
<h3>Turf Care</h3>
<%= image_tag "recent_work_4.jpg"%>


<p>Find me in app/views/pages/services.html.erb</p>
